.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  height: 88px;
  border-bottom: 1px solid #fff;
  backdrop-filter: blur(10px);
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1240px;
    margin: 0 auto;

    img {
      max-height: 32px;
    }
    ul {
      display: flex;
      font-family: Bebas Neue;
      gap: 40px;
      font-size: 21px;
      list-style: none;
    }
    button {
      background-color: #ff0000;
      color: #fff;
      text-transform: uppercase;
      padding: 16px 40px;
      border: 0;
      font-family: Bebas Neue;
      font-size: 21px;
    }
  }
}
