.hero {
  background: linear-gradient(90deg, #000000 -6.64%, rgba(0, 0, 0, 0.07) 112.5%),
    url("../public/hero.png");
  height: 100vh;
  background-size: cover;
  padding-top: 100px;
  display: flex;
  padding: 100px;
  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    h1 {
      font-size: 122px;
      line-height: 136px;
      font-family: Bebas Neue;
      span {
        color: #ff0000;
      }
    }
    p {
      font-size: 16px;
      font-family: Poppins;
      font-weight: 200;
      color: #f1f1f1;
    }
    button {
      font-family: Bebas Neue;
      color: #ff0000;
      border: 1px solid #ff0000;
      padding: 24px 40px;
      background-color: transparent;
      font-size: 21px;
      font-weight: 700;
    }
    .slugContainer {
      display: flex;
      gap: 40px;
      div {
        p {
          font-size: 50px;
          color: #ff0000;
          text-align: center;
          font-family: bebas neue;
        }
        span {
          font-family: Poppins;
        }
      }
    }
  }
  .right {
    width: 100%;
    p {
      font-size: 150px;
      -webkit-text-stroke: 2px #fff;
      color: transparent;
      font-family: Poppins;
      font-weight: 900;
      text-align: right;
      letter-spacing: 25px;
      margin-top: -35px;
      line-height: 230px;
    }
  }
}

.about {
  padding: 100px;
  .header {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 1rem;
      font-size: 90px;
      text-align: center;
      font-family: bebas neue;
      color: #ff0000;
      b {
        color: #fff;
      }
    }
    > p {
      font-family: Poppins;
      max-width: 570px;
      text-align: center;
    }
  }
  .cardContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    .card {
      border: 1px solid #ff0000;
      padding: 24px 40px;
      span {
        font-size: 38px;
        font-family: bebas neue;
      }
      .title {
        color: #ff0000;
        font-family: bebas neue;
        font-size: 28px;
      }
      .text {
        font-size: 16px;
        font-family: Poppins;
      }
    }
  }
}

.experience {
  background: linear-gradient(90deg, #000000e9 50%, #000000e9 50%),
    url("../public/xp-bg.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  .left {
    width: 100%;
    h2 {
      font-size: 96px;
      font-family: bebas neue;
      b {
        color: #ff0000;
      }
    }
    p {
      font-family: Poppins;
      margin-bottom: 24px;
    }
    button {
      border: 1px solid #ff0000;
      padding: 24px 40px;
      color: #ff0000;
      background-color: transparent;
      font-size: 21px;
      font-family: bebas neue;
    }
  }
  .right {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    img {
      max-width: 400px;
    }
  }
}

.professionals {
  padding: 100px;
  .header {
    h2 {
      font-family: bebas neue;
      font-size: 96px;
      text-align: center;
      line-height: 90px;
      margin-bottom: 2rem;
      b {
        color: #ff0000;
      }
    }
    p {
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      font-family: Poppins;
      max-width: 500px;
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  .container {
    background-color: #000000;
    border: 1px solid #ff0000;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    max-width: 1240px;
    width: 100%;
    .imageContainer {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 400px;
      }
    }
    .textContainer {
      width: 50%;
      .title {
        font-size: 90px;
        font-family: Bebas neue;
        font-weight: 700;
        b {
          color: #ff0000;
        }
      }
      .subtitle {
        font-family: Poppins;
        font-weight: 300;
        font-size: 16px;
      }
      form {
        margin-top: 40px;
        .inputContainer {
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          input {
            &:nth-child(1),
            &:nth-child(2) {
              width: 250px;
            }
            width: 524px;
            border: 1px solid #fff;
            color: #fff;
            padding: 16px 24px;
            background-color: #000;
            &::placeholder {
              color: #fff;
            }
          }
        }
        button {
          margin-top: 24px;
          border: 1px solid #ff0000;
          color: #ff0000;
          font-size: 21px;
          font-weight: 500;
          font-family: Bebas neue;
          padding: 24px 40px;
          background: #000;
        }
      }
    }
  }
}
